<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
    <div class="container-fluid flex-column mx-auto showcase mt-5 ">
        <h1>Diary Application</h1>
        <p>A diary application made with Express</p>
        <a href="/diary" class="btn btn-primary">Open the diary</a>
    </div>
</body>
</html>
<%- include('./layout/Footer') %>