<header class="mx-auto mb-4">
    <div style="text-align: left; background-color:#222;" class="navbar-brand">
        <a style="font-size: 50px; text-decoration: none; margin: auto; text-align: center; padding-left: 2%; color:#fff" class="mx-auto" href="/">DIARY APPLICATION</a>
        <a style="float: right; padding-right: 2%; font-size: 50px; text-decoration: none; margin: auto; text-align: center; color:#fff" class="mx-auto" href="/">HOME</a>
    </div>
</header>